commands:
    copyenv:
        command: sudo cp .env.example .env
        cwd: /var/www/html
    appkey:
        command: sudo php artisan key:generate
        cwd: /var/www/html
    dbmigration:
        command: php artisan migrate
        cwd: /var/www/html
    permission:
        command: sudo chmod -R webapp:webapp /var/www/html
        cwd: /var/www/html

